@page "/Learn/DesignPatterns"

<div class="container">
    <div class="row">
        <div class="col">
            <a href="/Learn/DesignPatterns/ObserverPattern" class="btn btn-primary">Observer Pattern</a>
        </div>
        <div class="col">
            <a href="/Learn/DesignPatterns/DecoratorPattern" class="btn btn-primary">Decorator Pattern</a>
        </div>
    </div>
</div>