@page "/Learn/DesignPatterns"

<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="/Learn/DesignPatterns/ObserverPattern" class="btn btn-primary">Observer Pattern</a>
        </div>
        <div class="col-3">
            <a href="/Learn/DesignPatterns/DecoratorPattern" class="btn btn-primary">Decorator Pattern</a>
        </div>
        <div class="col-3">
            <a href="/Learn/DesignPatterns/FactoryPattern" class="btn btn-primary">Factory Pattern</a>
        </div>
        <div class="col-3">
            <a href="/Learn/DesignPatterns/SingletonPattern" class="btn btn-primary">Singleton Pattern</a>
        </div>
    </div>
</div>