@using Microsoft.AspNetCore.Authorization
@using MadWorld.Frontend.Domain.Accounts
@using MadWorld.Shared.Contracts.Shared.Authorization
@using MadWorld.Frontend.UI.Shared.Components

@attribute [Authorize(Roles = nameof(RoleTypes.Admin))]
@page "/Account/{Id}"

<PageTitle>Account Settings</PageTitle>

@if (IsReady)
{
    @if (AccountOption.IsSome)
    {
        @if (IsSaved)
        {
            <div class="alert alert-success" role="alert">
                Account settings saved successfully.
            </div>   
        }
        @if (HasError)
        {
            <div class="alert alert-danger" role="alert">
                @ErrorMessage
            </div>   
        }
        <RadzenTemplateForm Data="@Account" Submit="@(async (Account account) => { await SaveChanges(account); })">
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenStack>
                        <RadzenFieldset Text="Account Settings">
                            <RadzenStack  Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Id" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="account-id" @bind-Value="Account.Id" Disabled="true" class="col-width-100"></RadzenTextBox>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Name" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="account-name" @bind-Value="Account.Name" Disabled="true" class="col-width-100"></RadzenTextBox>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Is user" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenCheckBox Name="account-hasUserRole" TValue="bool" @bind-Value="Account.HasUserRole" Change="UserCheckBoxChanged"></RadzenCheckBox>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Is admin" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenCheckBox Name="account-hasAdminRole" TValue="bool" @bind-Value="Account.HasAdminRole" Change="AdminCheckBoxChanged"></RadzenCheckBox>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Text="Is resource owner" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenCheckBox Name="account-isResourceOwner" @bind-Value="Account.IsResourceOwner" Disabled="true"></RadzenCheckBox>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@CancelChanges" />
            </RadzenStack>
        </RadzenTemplateForm>
    }
    else
    {
        <p>Account ID with @Id cannot be found at the moment. </p>
    }   
}
else
{
    <LoadingSpinner />
}

