@using MadWorld.Frontend.UI.Shared.Components
@using MadWorld.Shared.Contracts.Anonymous.Blog

@page "/Blogs"

<PageTitle>Blog Overview</PageTitle>

@if (_isReady)
{
    
    <div class="row">
        <div class="col">
            <h3>Blog Overview</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <RadzenButton Click=@(OpenNewBlog) Text="New" ButtonStyle="ButtonStyle.Primary"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <RadzenDataGrid @ref="dataGrid" IsLoading=@_isLoading Count="_totalRecords" Data="@_blogs"
                            LoadData="@LoadData" AllowSorting="false" AllowFiltering="false"
                            AllowPaging="true" PageSize="15" PagerHorizontalAlign="HorizontalAlign.Center"
                            TItem="BlogContract" ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat"
                            RowClick="OpenBlogDetails">
                <Columns>
                    <RadzenDataGridColumn TItem="BlogContract" Property="Title" Title="Title"/>
                    <RadzenDataGridColumn TItem="BlogContract" Property="Created" Title="Created"/>
                </Columns>
            </RadzenDataGrid>
        </div>
    </div>
}
else
{
    <LoadingSpinner />
}