@if (ShowSlowLoading)
{
    <div class="row">
        <p class="funny-explanation">Bear with me; my backend is channeling its inner Zen master.*</p>
    </div>   
}
<div class="row">
    <div class="spinner-border spinner-border-extra text-success" role="status"></div>
</div>
@if (ShowSlowLoading)
{
    <div class="row">
        <p class="spinner-explanation">*. I abuse the Azure Functions as an API, and it can take a few seconds to boot up. ~10 seconds</p>
    </div>   
}