@using MadWorld.ExternPackages.Monaco;

@page "/Tools/GuidGenerator"

<h3>GuidGenerator</h3>

<MonacoEditor @ref="_monacoEditor"></MonacoEditor>

<button class="btn btn-primary" @onclick="GenerateGuid">Generate Guid</button>