@page "/Tools"

<PageTitle>Tools</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="/Tools/GuidGenerator" class="btn btn-primary">Guid Generator</a>
        </div>
        <div class="col-3">
            <a href="/Tools/DefaultEditor" class="btn btn-primary">Default Editor</a>
        </div>
        <div class="col-3">
            <a href="/Tools/JsonEditor" class="btn btn-primary">Json Editor</a>
        </div>
    </div>
</div>
