@page "/Learn/DesignPatterns/FactoryPattern"

<div class="row">
    <div class="col-2">
        <button class="btn btn-success" @onclick="GetRedBullCar">Start Red Bull</button>
    </div>
    <div class="col-2">
        <button class="btn btn-warning" @onclick="GetMercedesCar">Start Mercedes</button>
    </div>
</div>
<div class="row">
    @if (RedBullCar is not null)
    {
        <div class="col-4">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Red Bull Car</h5>
                    <p class="card-text">Max speed: @RedBullCar.GetMaxSpeed()</p>
                </div>
            </div>
        </div>   
    }
    @if (MercedesCar is not null)
    {
        <div class="col-4">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Mercedes Car</h5>
                    <p class="card-text">Max speed: @MercedesCar.GetMaxSpeed()</p>
                </div>
            </div>
        </div>
    }
</div>