@page "/Ping"

<h3>Ping</h3>

<h2>Anonymous Message</h2>
<p>@AnonymousMessage</p>

<h2>Authorized Message</h2>
<p>@AuthorizedMessage</p>

<button type="button" class="btn btn-success" @onclick="GetPing" disabled="@IsDisabled">Get Messages</button>
<button type="button" class="btn btn-secondary" @onclick="ResetPing" disabled="@IsDisabled">Reset</button>